
/* GMAIL BLOCK */

.gmail_block {
	background: black;
	padding: 100px 0;
	&_inner {
		margin-top: 50px;
		display: flex;
		justify-content: space-evenly;
		height: 300px;
		border-radius: 20px;
		align-items: center;
	}
}

.form_gmail {
	display: flex;
	flex-direction: column;
	align-items: center;
	input {
		box-shadow: 0 0 20px cyan;
		border-radius: 20px;
		padding: 0 20px;
		margin: 20px 0;
	}
	button {
		width: 100%;
		margin: 20px 0;
	}
}

/* MOVE BLOCK */

.block {
	&_move {
		background: black;
		padding: 100px 0;
		position: relative;
		&_inner {
			padding-top: 20px;
			margin-top: 10px;
		}
	}
	&_parent {
		height: 500px;
		width: 500px;
		border-radius: 25px;
		border: 2px solid cyan;
		position: relative;
		margin: 0 auto;
		box-shadow: 0 0 20px cyan;
	}
	&_child {
		position: absolute;
		width: 50px;
		height: 50px;
		border: 3px dashed black;
		border-radius: 50px;
		background: white;
		box-shadow: 0 0 15px 1px white,
					0 0 10px cyan inset;
	}
}

/* STOP WATCH */

.stopwatch {
	padding: 100px 0;
	background: black;
}

.time {
	color: white;
	display: flex;
	justify-content: center;
	font-size: 80px;
	height: 100px;
	width: 100%;
	margin-top: 40px;
	&_block {
		display: flex;
		width: 500px;
		text-shadow: 0 0 5px white;
		justify-content: space-between;
		div {
			text-align: center;
			width: 100px;
		}
	}
	&_buttons {
		margin-top: 30px;
		width: 100%;
		display: flex;
		justify-content: center;
		button {
			box-shadow: none;
			border-radius: 0px;
			border: 2px solid cyan;
			width: 100px;
			height: 100px;
			box-shadow: 0 0 10px cyan inset,
							0 0 10px cyan;
			transition: 0.2s;
		}
		#start {
			border-radius: 40px 0 0 40px;
			border-right: 1px solid cyan;
			&:hover {
				transform: scale(1.05);
				box-shadow: 0 0 10px cyan inset,
							0 0 10px cyan;
			}
		}
		#stop {
			border-right: 1px solid cyan;
			border-left: 1px solid cyan;
            &:hover {
				transform: scale(1.05);
				box-shadow: 0 0 10px cyan inset,
							0 0 10px cyan;
			}
        }
		#reset {
            border-radius: 0 40px 40px 0;
			border-left: 1px solid cyan;
			&:hover {
				transform: scale(1.05);
				box-shadow: 0 0 10px cyan inset,
							0 0 10px cyan;
			}
        }
	}
}

/* JSON */

.json {
	color: white;
	background-color: black;
	padding: 100px 0;
	position: relative;

	&_block {
		padding-top: 50px;

		&_users {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			gap: 20px;

			&_user {
				box-shadow: 0 0 10px cyan;
				text-shadow: 0 0 10px white;
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				align-items: center;
				border: solid 2px cyan;
				border-radius: 20px;
				&_img {
					margin: 20px;
					height: 150px;
					width: 150px;
					box-shadow: 0 0 10px cyan;
					border: solid 2px cyan;
					border-radius: 100px;
				}

				&_name {
					font-size: 30px;
				}

				&_age {
					margin: 20px;
					font-size: 22px;
				}
			}
		}
	}
}