
/* PHONE CHECKER */

.phone_block {
    background: black;
    padding: 100px 0;
}

.inner_phone_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid cyan;
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

/* TAB SLIDER */

.tab_slider {
    background: black;
    padding: 100px 0;
}

.tab_content_block {
    width: 700px;
    border: 1px solid cyan;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 170px;

    & p {
        color: white;
        margin-top: 10px;
        text-align: justify;
    }
}

.tab_content_item {
    padding: 10px;
    height: 30px;
    color: white;
    border: 1px solid cyan;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: grid;
    place-content: center;

    &s {
        width: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    &_active {
        background: cyan;
        color: black;
        font-weight: 600;
        border: 1px solid white;
    }
}

.tab_contents_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/*--------CONVENTOR--------*/

.conventor {
    padding: 100px 0;
    background-color: black;
    &_inner {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        &_block {
            padding: 20px;
            margin: 10px;
            border: 2px solid cyan;
            border-radius: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & input {
                border-radius: 20px;
                padding: 0px 30px;
                font-size: 30px;
                &::-webkit-inner-spin-button, 
                &::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                }
            }
        }
    }
}

/*------CARD SWITCHER------*/

.card {
    width: 500px;
    height: 150px;
    border: 1px solid cyan;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
    & p {
        color: cyan;
        font-size: 20px;
    }
    & span {
        color: white;
        font-size: 30px;
    }
    &_switcher {
        background-color: black;
        padding: 100px 0;
    }
    &_inner_switcher {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}