/* HEADER */
.header {
  height: 80px;
  background: black;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 255, 255, 0.5) 100%);
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 2px solid cyan;
  box-shadow: 0 0 15px cyan;
}
.header_inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* HEADER LOGOTYPE */
  /* HEADER MENU */
}
.header_inner_logotype {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  height: 60px;
  width: -moz-fit-content;
  width: fit-content;
  background: cyan;
  box-shadow: 0 0 10px cyan;
  padding: 8px;
  color: none;
  border-radius: 5px;
  cursor: pointer;
}
.header_inner_logotype:hover {
  box-shadow: 0 0 20px cyan;
  text-shadow: 0 0 20px white;
}
.header_inner_menu {
  display: flex;
  justify-content: space-around;
  width: 600px;
}
.header_inner_menu_link a {
  color: cyan;
  text-transform: uppercase;
}
.header_inner_menu_link a:hover {
  text-decoration: underline;
  text-shadow: 0 0 15px cyan;
}

/* MAIN BLOCK */
.main {
  padding: 100px 0;
  background: black;
}

/* BUTTONS COLOR PICKER */
.colors-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.btn-color {
  text-shadow: 0 0 20px white;
  border-radius: 20px;
}

/* FOOTER */
.footer {
  background: #2c2d2f;
  padding: 30px 0;
}
.footer h2 {
  text-transform: uppercase;
  color: cyan;
  font-weight: 600;
}
.footer_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SLIDER BLOCK */
.slide {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.slide_card {
  color: white;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.slide_card h3 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
}
.slide_card p {
  font-size: 16px;
  text-align: justify;
  margin: 10px 0;
}
.slide_card a {
  color: cyan;
  text-decoration: underline;
}
.slide_card button {
  background: red;
}
.slide.active_slide {
  display: block;
}
.slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 3px solid cyan;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.slider button {
  border: none;
  box-shadow: 0 0 20px cyan;
  transition: 0.1s;
}
.slider button:active {
  box-shadow: 0 0 15px cyan;
  transform: scale(1.1);
}
.slider_block {
  padding: 100px 0;
  background: black;
}
.slider_inner {
  border-radius: 20px;
  box-shadow: 0 0 20px cyan;
}

/* VIDEO BLOCK */
.video_block {
  background: black;
  padding: 100px 0;
}
.video_block_inner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.video_block_inner iframe {
  border-radius: 20px;
  border: 2px solid cyan;
  box-shadow: 0 0 20px cyan;
}

/* MODAL */
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.modal_dialog {
  border-radius: 20px;
  box-shadow: 0 0 20px cyan;
  text-shadow: 0 0 10px white;
  max-width: 500px;
  margin: 150px auto;
}
.modal_dialog_content {
  border-radius: 20px;
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: black;
  border: 2px solid cyan;
  max-height: 80vh;
  overflow-y: auto;
}
.modal_dialog_content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_dialog_content_close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  text-shadow: 0 0 10px red;
  color: red;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal_dialog_content_close:hover {
  opacity: 1;
}
.modal_dialog_content_title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}
.modal_dialog_content_input, .modal_dialog_content .btn_min {
  border: 2px solid cyan;
  width: 100% !important;
  margin-top: 10px;
  border-radius: 20px;
  padding: 0 10px;
}/*# sourceMappingURL=style.css.map */